@page "/profile"

@inherits ProfilePageBase

<PageTitle>Profile</PageTitle>
<MudContainer Class="d-flex justify-content-center my-4" Style="height: calc(100vh - 100px); max-width: unset !important">
	<MudItem xs="12" sm="8" md="6" lg="4" xl="3">
		<MudPaper Elevation="1" Class="d-flex flex-column px-2 py-4 gap-2 align-items-center">
			<MudAvatar Size="Size.Large" Class="position-relative" Style="border : 1px solid #d3d3d3;">
				<MudImage Src="@(String.IsNullOrEmpty(GlobalClass.User?.PhotoUrl) ? PhotoHelper._defaultPhoto : GlobalClass.User.PhotoUrl)">
				</MudImage>
				@if (isUploading)
				{
					<MudProgressCircular Class="position-absolute" Indeterminate="true" Color="Color.Primary" Size="Size.Small"></MudProgressCircular>
				}
			</MudAvatar>
			<MudGrid Spacing="3">
				<MudItem xs="12" Class="d-flex flex-row gap-2 justify-content-center">
					<MudButton OnClick="OpenCameraDialog" Variant="Variant.Filled" Color="Color.Default" StartIcon="@Icons.Material.Filled.Camera">Camera</MudButton>
					<MudFileUpload T="IBrowserFile" Accept="*" @bind-File="selectedFile" FilesChanged="UploadFiles">
						<ActivatorContent>
							<MudButton StartIcon="@Icons.Material.Filled.Upload" Variant="Variant.Filled" Color="Color.Default">Upload</MudButton>
						</ActivatorContent>
					</MudFileUpload>
				</MudItem>
				<MudItem xs="12" Class="text-center">
					<MudButton OnClick="GetVerificationEmailLink" Disabled="@(GlobalClass.User.EmailVerified)" Variant="Variant.Text" Color="Color.Primary">
						@(GlobalClass.User.EmailVerified ? "The account has been verified" : "Verify Account")
					</MudButton>
				</MudItem>
				<MudItem xs="12">
					<hr />
				</MudItem>
				<MudItem xs="12">
					<MudTextField 
					@bind-Value="GlobalClass.User.Email" 
					Variant="Variant.Filled" 
					Margin="Margin.Dense"
					Adornment="Adornment.End"
					AdornmentIcon="@Icons.Material.Filled.Email"
					Label="Full name" ShrinkLabel ReadOnly></MudTextField>
				</MudItem>
				<MudItem xs="12">
					<MudTextField 
					@bind-Value="GlobalClass.User.DisplayName" 
					Variant="Variant.Filled" 
					Margin="Margin.Dense"
					Label="Full name"
					Adornment="Adornment.End"
					AdornmentIcon="@Icons.Material.Filled.Person"
					ShrinkLabel></MudTextField>
				</MudItem>
				<MudItem xs="4" sm="3" md="3" lg="3" xl="3">
					<MudTextField @bind-Value="code"
								  Variant="Variant.Filled"
								  Margin="Margin.Dense"
								  Label="Country Code"
								  IconSize="Size.Small"
								  Adornment="Adornment.Start"
								  AdornmentIcon="@Icons.Material.Filled.Add"
								  ShrinkLabel></MudTextField>
				</MudItem>
				<MudItem xs="8" sm="9" md="9" lg="9" xl="9">
					<MudTextField @bind-Value="GlobalClass.User.PhoneNumber" 
									Variant="Variant.Filled" 
									Margin="Margin.Dense" 
									Label="Phone Number"
									IconSize="Size.Small"
									Adornment="Adornment.End"
									AdornmentIcon="@Icons.Material.Filled.Phone"
									Validation="ccValidator.Validation"
									ShrinkLabel></MudTextField>
				</MudItem>
				<MudItem xs="12" Class="d-flex justify-content-end">
					<MudButton OnClick="UpdateProfile" Variant="Variant.Filled" Size="Size.Medium" Color="Color.Primary">
						<div class="d-flex flex-row gap-2">
							@if (isLoading)
							{
								<MudProgressCircular Class="align-self-start" Size="Size.Small" style="color: white;" Indeterminate></MudProgressCircular>
								<span>Saving...</span>
							}
							else
							{
								<span>Save Changes</span>
							}
						</div>
					</MudButton>
				</MudItem>
			</MudGrid>
		</MudPaper>
	</MudItem>
</MudContainer>