@inherits AcceptFriendComponentBase

<div class="d-flex flex-row align-items-center gap-1">
	<MudAvatar Size="Size.Small">
		<MudImage Src="@(String.IsNullOrEmpty(User?.PhotoUrl) ? PhotoHelper._defaultPhoto : User?.PhotoUrl)"></MudImage>
	</MudAvatar>
	<MudText Typo="Typo.caption">@User?.DisplayName @(!ShowDeleteButton ? "Sent you a friend request." : "")</MudText>
	<MudSpacer/>
	<MudIconButton OnClick="AcceptFriendRequest" Icon="@Icons.Material.Rounded.CheckCircle" Color="Color.Success" Size="Size.Small"></MudIconButton>
	@if (ShowDeleteButton)
	{
		<MudIconButton OnClick="DeleteFriendRequest" Icon="@Icons.Material.Rounded.Delete" Color="Color.Success" Size="Size.Small"></MudIconButton>
	}
	else
	{
		<MudIconButton OnClick="CloseNotification" Icon="@Icons.Material.Rounded.Close" Color="Color.Success" Size="Size.Small"></MudIconButton>
	}
</div>