@inherits ConversationComponentBase

<MudPaper Class="d-flex flex-column pa-3"  Elevation="1" Height="calc(100vh - 170px)" Width="100vw">
	@if (User == null)
	{
		<MudText Class="text-center" Typo="Typo.h6">Select a conversation</MudText>
		<hr />
	} else {
		<MudItem Class="d-flex flex-row">
			<div class="d-flex flex-row gap-2">
				<MudAvatar Size="Size.Large" Style="border: 2px solid blue;">
					<MudImage Src="@(String.IsNullOrEmpty(User?.PhotoUrl) ? PhotoHelper._defaultPhoto : User.PhotoUrl)"></MudImage>
				</MudAvatar>
				<div class="d-flex flex-column">
					<MudText Typo="Typo.subtitle2">@User?.DisplayName</MudText>
					<MudText Typo="Typo.subtitle2"><i>@User?.Email</i></MudText>
				</div>
			</div>
			<MudSpacer></MudSpacer>
			<MudMenu Icon="@Icons.Material.Filled.MoreVert" AnchorOrigin="Origin.TopLeft">
				<MudMenuItem Icon="@Icons.Material.Filled.Delete" Label="Delete Conversation" />
			</MudMenu>
		</MudItem>
		<hr />
		<MudItem Class="hide-scrollbar overflow-auto pa-2 flex-grow-1">
			@if (IsLoading)
			{
				<ConversationSkeleton></ConversationSkeleton>
			}
			else
			{
				<Virtualize Context="message" ItemSize="10" Items="groupMessages" >
					<EmptyContent>
						<span>Start a conversation</span>
					</EmptyContent>
					<ChildContent>
						@if(message.SenderId == GlobalClass.User.Uid)
						{
							<MudChat ChatPosition="ChatBubblePosition.End">
								<MudAvatar>
									<MudImage Src="@(String.IsNullOrEmpty(GlobalClass.User.PhotoUrl) ? PhotoHelper._defaultPhoto: GlobalClass.User?.PhotoUrl )" />
								</MudAvatar>
								@foreach(var message in message.Messages)
								{
									<MudChatBubble>
										@message.Text
									</MudChatBubble>
								}
							</MudChat>
						} else
						{
							<MudChat ChatPosition="ChatBubblePosition.Start">
								<MudAvatar>
									<MudImage Src="@(String.IsNullOrEmpty(User.PhotoUrl) ? PhotoHelper._defaultPhoto: User?.PhotoUrl )" />
								</MudAvatar>
								@foreach (var message in message.Messages)
								{
									<MudChatBubble>
										@message.Text
									</MudChatBubble>
								}
							</MudChat>
						}
					</ChildContent>
				</Virtualize>
			}
			<div id="conversation"></div>
		</MudItem>
		<hr />
		<MudItem>
			<div class="d-flex flex-row">
				<MudTextField Class="flex-grow-1" 
				@bind-Value="messageText" 
				Placeholder="Type a message..." 
				Variant="Variant.Text"></MudTextField>
				@if (IsSending)
				{
					<MudProgressCircular Color="Color.Primary" Size="Size.Small" Indeterminate></MudProgressCircular>
				}
				else
				{
					<MudIconButton OnClick="SendMessage" Icon="@Icons.Material.Filled.Send" Size="Size.Medium" Color="Color.Primary"></MudIconButton>
				}
			</div>
		</MudItem>
	}
</MudPaper>